<launch>
  <arg name="inverted" default="false" />
  <arg name="joy_input" default="js0" />

  <node pkg="joy" type="joy_node" name="joy" >
    <param name="deadzone" value="0.0" />
    <param name="dev" value="/dev/input/$(arg joy_input)" />
  </node>

  <node pkg="tmotor_controller" type="pyro_robot_controller.py" name="controller" output="screen">  
  </node>

  <node pkg="tmotor_ros_driver" type="tmotor_ros.py" name="tmotors">
    <param name="inverted" type="bool" value="$(arg inverted)" />
  </node>

</launch>

